.cancel-subscription-button {
  background-color: red;
  border-radius: 5px;
  width: 40%;
}

.account-settings {
  font-size: 1.5rem;
  font-weight: bold;
}

.account-settings-container {
  margin-left: 15rem;
  margin-top: 5rem;
  margin-right: 3rem;
}

.account-update {
  font-style: italic;
}

.account-update-cancel {
  font-style: italic;
  color: red;
}

.user-email {
  color: gray;
}

.save-changes-button {
  background-color: #4099ff;
  color: white;
  margin-top: 2rem;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 40%;
  border-radius: 5px;
}

.cancel-screen {
  margin-top: 2rem;

  .cancel-description {
    margin-bottom: 2rem;
    font-style: italic;
  }

  .yes-button {
    background-color: red;
    padding: 1rem;
    color: white;
    margin-right: 2rem;
    margin-top: 2rem;
    border-radius: 5px;
    cursor: pointer;
  }

  .no-button {
    background-color: #4099ff;
    padding: 1rem;
    color: white;
    margin-top: 2rem;
    border-radius: 5px;
    cursor: pointer;
  }
}
