.possible-misconduct {
  font-weight: bold;
  color: red;
  margin-bottom: 10px;
}

.continue-button {
  background-color: #4099ff;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1rem;
}

.skip-section-button {
  background-color: gray;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1rem;
  margin-left: 10px;
}

.help-learn-more-text {
  margin-bottom: 15px;
  margin-top: 15px;
}

.possible-abuse-container {
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 5rem;
}
