.evaluation-header {
  position: fixed;
  top: 0;
  background: linear-gradient(90deg, navy, #6e7ff3);
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 7%;
  position: fixed;
  z-index: 1000;
}

.header-logo {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  width: 15rem;
}

.umbrella-sharing-container {
  margin-top: 7rem;
  margin-left: 17rem;
}

.umbrella-sharing-title {
  font-weight: bold;
  font-size: 2rem;
  box-shadow: 0.05rem 0.05rem 0.25rem rgba(0, 0, 0, 0.15);
  width: 95%;
  padding: 1rem;
  padding-left: 1.5rem;
  background-color: white;
}
.error-message {
  color: red;
}

.umbrellas-table {
  //width: 100%;
  border: 2px solid black;

  border-collapse: separate; /* Ensure spacing is applied */
  border-spacing: 30px; /* Adjust spacing as needed */
  padding: 0.5rem;
  margin-top: 1rem;
}

.umbrellas-table-header {
  text-decoration: underline;
}

.purchase-button {
  border: 0.1rem solid navy;
  padding: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: navy;
  color: white;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
}

.remove-button {
  border: 0.1rem solid navy;
  padding: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: navy;
  color: white;
  border-radius: 0.5rem;
}

.umbrella-sharing-card {
  box-shadow: 0.05rem 0.05rem 0.25rem rgba(0, 0, 0, 0.15);
  width: 95%;
  padding: 1rem;
  padding-left: 1.5rem;
  margin-top: 1.5rem;
  background-color: white;
  //display: flex;
}
