.dashboard-header {
  position: fixed;
  top: 0;
  background: linear-gradient(90deg, #4099ff, #6e7ff3);
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 3.5rem;
  position: fixed;
  z-index: 2000;
}

.header-logo {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  width: 15%;
}

.header-name {
  font-size: 2rem;
  padding-right: 1.5rem;
  padding-top: 0.25rem;
}

.header-right-items {
  display: flex;
  padding-right: 2rem;
}

.logout-button {
  font-size: 1.1rem;
  border: 0.1rem solid white;
  border-radius: 0.5rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}
