.dashboard-objects {
  //display: flex;
  margin-top: 5rem;
  margin-left: 16rem;
  margin-right: 2rem;
  width: 100%;

  .temp-results {
    color: red;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

.category-title {
  font-weight: bold;
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.category-text {
  padding-right: 0.5rem;
}

.tool-tip-box {
  background-color: white;
  color: black;
  border-radius: 0.5rem;
  border-color: black;
  box-shadow: 5px 5px 10px gray;
  max-width: 50%;
  height: fit-content;
  opacity: 1;
  border: 0.1rem solid black;
  padding: 0;
  z-index: 1028;
}

.tool-tip-box-title {
  color: #ff5370 !important;
  background-color: #f7f7f7;
  font-size: 1rem;
  padding: 1rem;
  padding-left: 1.1rem;
  border-bottom: 0.1rem solid lightgray;
}

.tool-tip-box-description {
  font-weight: 400;
  padding: 1.25rem;
}

.reporting-dashboard-title-objects {
  display: flex;
  justify-content: space-between;
  box-shadow: 0.05rem 0.05rem 0.25rem rgba(0, 0, 0, 0.15);
  //width: 90%;
  padding: 1rem;
  //padding-left: 1.5rem;
  background-color: white;

  .reporting-dashboard-title {
    font-weight: bold;
    font-size: 1.25rem;
  }
}

.no-evaluations {
  color: red;
  margin-top: 5rem;
  margin-left: 16rem;
}

.title-elements {
  display: flex;
  justify-content: space-between;
}

.reporting-dashboard-title {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-legend {
  display: flex;
  box-shadow: 0.05rem 0.05rem 0.25rem rgba(0, 0, 0, 0.15);
  //margin-left: 30%;
  margin-top: 1%;
  width: fit-content;

  .grade-text {
    font-size: 0.85rem;
  }

  .gradeA {
    display: flex;
    padding: 1rem;

    .gradeAColor {
      height: 1rem;
      width: 1rem;
      background-color: #2ed8b6;
      margin-right: 0.5rem;
      margin-top: 0.1rem;
    }
  }
  .gradeC {
    display: flex;
    padding: 1rem;

    .gradeCColor {
      height: 1rem;
      width: 1rem;
      background-color: #ffc107;
      margin-right: 0.5rem;
      margin-top: 0.1rem;
    }
  }
  .gradeD {
    display: flex;
    padding: 1rem;

    .gradeDColor {
      height: 1rem;
      width: 1rem;
      background-color: #ee4b2b;
      margin-right: 0.5rem;
      margin-top: 0.1rem;
    }
  }
}

.info-logo-category {
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 0.1rem;
  margin-top: 0.2rem;
}

.reporting-dashboard-loader {
  margin-left: 16rem;
  margin-top: 5rem;
}

.final-score {
  //display: flex;
}
