.loading-component {
  span {
    padding-left: 12px;
  }
}

.loader-message {
  padding-left: 0.5rem;
  font-size: 1.5rem;
  color: gray;
}

.loader-icon {
  height: 1.5rem;
  width: 1.5rem;
  color: gray;
}
